<template>
    <div>{{pascalCase name}}</div>
</template>


<script setup lang="ts">
import type { {{pascalCase name}}Props } from "./S{{pascalCase name}}.types"
import { computed } from "vue"

const props = withDefaults(defineProps<{{pascalCase name}}Props>(), {
    appearance: "primary",
})

const styles = computed(() => {
    let s = ""

    if (props.appearance == "primary") s += ` bg-primary text-white py-2 px-6`
    else if (props.appearance == "secondary") s += ` bg-white text-black py-2 px-6`
    else if (props.appearance == "text") s += ` `

    return s
})
</script>
